@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;

}

nav {
        background: #202020;
        color: #ffffff;
        height: 40px;
        border-bottom: 3px solid #0000ff;
}

nav a {
        float: left;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
}

.right-links {
        float: right;
}

.parallax-bg {
        background: url('./img/background.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 600px;
        width: 100%;
        position: relative;
}

.parallax-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.heading {
        color: #fff;
        margin: 0;
        font-size: 100px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

}

.container {
        text-align: center;
        margin-top: 50px;
}

h1 {
        text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

h2 {
        margin-bottom: 30px;
        font-size: 50px;
}

.card-container {
        display: flex;
        justify-content: center;
}

.card {
        padding: 20px;
        width: 300px;
        margin: 0px 10px 50px 0px;
        text-align: center;
}

.card:hover {
        transition-duration: 0.5s;
        background: #cacaca;
        border-radius: 8px;

}

a {
        text-decoration: none;
        color: #fff;
}

a:hover {
        text-decoration: none;
        color: #fff;
}